/* CSS BY JOÃO VITOR P. */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;

	font-size: 100%;

	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}

ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
*{
	box-sizing: border-box;
	color:#545f75;
	font-family: 'Roboto', sans-serif;
	
}
body{
	background:#f3f3f3;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
.active{
	border-bottom: 4px solid #545f75;
	padding-bottom:5px;
}
small{
	font-weight: 300;
	letter-spacing: 1px;
	color:#545f75;
}
p{
	line-height: 25px;
	font-weight: 300;
}
/*
	Titulos 
*/
h1,h2,h3,h4,h5,h6{
	font-weight: 700;
	color:#545f75;
}
h1{
	font-size:3.5em;
}
h2{
	font-size:2.5em;
}
h3{
	font-size:2em;
}
h4{
	font-size:1.5em;
}
h5{
	font-size:1.3em;
}
h6{
	font-size:1em;
}
.navbar{
	width:350px;
	padding-top:50px;
	height:100%;
	position:fixed;
	z-index: 999;
	background:#fff;
	
}
.nav-item ul{
	margin-top: 100px;
	padding-left:100px;
}
.nav-item li{
	margin-top:10px;
	padding:15px;
}

.nav-item li a{
	text-decoration: none;
	list-style: none;
	color:#545f75;
	text-transform: uppercase;
}

.footer-container{
	margin-top:100px;
	text-align: center;
}
.row{
	
	width:100%;
	margin:0 auto;
}

/* title page*/
.title-page{
	margin-bottom: 40px;
	text-align: center;
}
/* 
	@Portfolio CSS
*/
.p-item{
	margin-top:50px;
	float:left;
	margin-left:50px;
	width:450px;
	height:450px;
	overflow: hidden;
	border-radius: 3px;
	transition: all 0.3s ease-in;
}
.perfil-img{
	text-align: center;
	border-bottom: #f9f9f9 2px solid;
}
.perfil-img h1{
	font-size:1.5em;
	font-weight: 700;
	text-transform: uppercase;
}

.perfil-img h3{
	font-size:0.7em;
	font-weight: 400;
	text-transform: uppercase;
}
.avatar{
	width:150px;
	border-radius: 100%;
	overflow: hidden;
}

.nav-item {
	margin-top: 100px;
	padding-left:100px;
}

.button{
	text-transform: uppercase;
	height:30px;
	background:#545f75;
	padding:10px 20px 10px 20px;
	color:#fff;
	border-radius: 2px;
	transition: all 0.3s ease-in;
	letter-spacing: 2px;
}
.sobre{
	margin-top:50px;
	margin-bottom: 50px;
}
.button:hover{
	-webkit-box-shadow: -1px -2px 23px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: -1px -2px 23px 0px rgba(0,0,0,0.2);
	box-shadow: -1px -2px 23px 0px rgba(0,0,0,0.2);
}

.container{
	position: relative;
	width:calc(100% - 350px);
	margin-left:350px;
	padding:50px;
	
}

.img-reponsive{
	width:100%;
	height:auto;
}
.content{
	
}

.share{
	padding: 14px;
	color: #cdd5e4;
}
.post-item{
	width: calc(50% - 30px);
	background:#fff;
	float:left;
	margin-left:15px;
	margin-right:15px;
	margin-top:30px;	
}
.post-item h3{
	padding:25px 25px;
	font-weight: 700;
	font-size: 1.1em;
	letter-spacing: 2px;
	text-transform:uppercase;
}
.post-item p{
	font-size:1.1em;
	font-weight: 300 !important;
}
.post-item a{
	color:#545f75;
}
.post-item hr{
	border:#e1e1e1 1px solid;
}
.post-content{
	padding:25px;
	font-weight: 400;
	font-size:0.9em
}
.post-thumb{
	height:30%;
	overflow: hidden;
}
.post-footer {
	padding:15px;
	font-size:12px;
}
.post-footer i{
	margin:10px;
}
.post-footer span{
	color:#a7a5a5;
}
/*Helpers*/
.float-left{
	float:left;
}
.float-right{
	float:right;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}

/* dropdown */

.dropdown{
	display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    border-radius: 5px;
	z-index: 1;
	padding: 1.2em;
	margin-left: 2em;
	border: 1px solid rgba(84,95,117,0.1);
}
.dropdown-item{
	font-size: 12px;
	
}
.dropdown-item i{
	color:#cccbcb;
}
.dropdown-item li{
	padding:5px;
}
.share .dropdown:hover{
	display: block;
}
.content-page{
	width:100%;
	background:#fff;
	padding:2%;
	
}
.content-page p{
	color:#545f75 !important;
}
.content-page img{
	margin:1.5em;
}

/* Forms */
.form{
	padding-top:5%;
	
}
.form-item input{
  border: #efefef solid 3px;
  height:60px;
  width:100%;
  padding:25px;
  border-radius:2px;
  font-family: 'Roboto', sans-serif; 
  transition: all .2s ease-in-out;
  
}
.form-item input:focus{
	border: #b2c9f7 solid 3px;

  }
.form-item textarea:focus{
	border: #b2c9f7 solid 3px;
	transition: all 0.3 ease;
  }

.form-item textarea{
	border: #efefef solid 3px;
	font-family: 'Roboto', sans-serif;  
	width:100%;
	padding:25px;
	border-radius:2px;
	transition: all .2s ease-in-out;
  }

 ::-webkit-input-placeholder {
	color: #545f75;
 }
 
 :-moz-placeholder { /* Firefox 18- */
	color: #545f75;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
	color: #545f75;  
 }
 
 :-ms-input-placeholder {  
	color: #545f75;  
 }

 /* Btn */
 .btn{
	padding:10px 20px 10px 20px;
	font-family: 'Montserrat', sans-serif; 
	color:#fff;
	border:none;
	border-radius:2px;
	font-weight: 400;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 2px;
 }
 .btn-default{
	 background:#545f75;
	 transition: all 0.3s ease-in-out;
 }
 .btn-default:hover{
	 background:#fff;
	 border: #545f75 solid 1px;
	 color: #545f75;
	 font-weight: 700;
 }
 .btn-default:focus{
	background:#fff;
	border: #545f75 solid 1px;
	color: #545f75;
	font-weight: 700;
}
 .btn-block{
	width:100%;
 }
 .btn-about{
	background:transparent;
	border: #545f75 solid 3px;
	color: #545f75;
	font-weight: 400; 
 }

 .post-info li{
	 float:left;
	 padding:1%;
	 color: #b4b4b4;
	 font-weight: 200;
 }
 .post-info li i{
	padding-right: 0.8em;
 }

 /* COmpartilhamento */

 .network-share{

 }
 .redes{
	padding-top:1em;
 }
 .redes li{
	float:left;
	padding-right:0.7em;
	font-size:2em;
	
 }
.redes i{
transition: all 0.5s ease-in-out;
}
 .redes i:hover{
	 color:#a7a5a5;
 }

.redes-socias ul{
	padding:3em;
	text-align: center;
}
.redes-socias li{
	float:left;
	padding:1.5em;
	font-size:1.2em;
}
/* responsive */

@media only screen and (max-width: 992px) {
	.navbar{
		width: 100%;
		background:#fff;
		height: 60px;
		border-bottom: #f3f3f3 solid 1px;
		float:left;
		position: fixed;
		padding:0px;

	}
	.perfil-img{
		border:none;
		width: 70%;
		height: 60px;
		
	}
	.perfil-img figure{
		float: left;
		padding:0;
	}
	.perfil-img h1{
		padding-top:25px;
	}
	.perfil-img h1,h3{
		font-size:0.7em;
		text-align: left;
	}
	.avatar{
		width:30px;
		border-radius: 100%;
		overflow: hidden;
		
	}
	
	.nav{
		background:#fff;
		padding: 25px;
		display: none;
		position: absolute;
		width:100%;
		z-index: 9999;
		border-bottom: #f3f3f3 solid 1px;
	}
	.nav-item{
		
		width: 100%;
		display: inline;
		background:#fff;

	}
	.nav-item li{
		margin-top:25px;
	}
	.nav-item li a{
		text-decoration: none;
		list-style: none;
		color:#545f75;
		text-transform: uppercase;
	}
	.sobre{
		display: none;
	}
	.mobile-btn{
		position: relative;;
		float: right;
		margin-top:-47px;
		cursor: pointer;
		margin-right:25px;
	}
	.mobile-btn div{
		background:#545f75;
		width:30px;
		height:2px;	
		margin:7px;
	}
	.container{
		width:100%;
		margin:0;
		padding-top:15%;
		
		
	}
	.post-item{
		width:100%;
		
		margin:0;
		margin-top:15px;
	} 
	.redes-socias{
		display:none;
	}
} 

@media only screen and (min-width: 768px) {
	.container{
		padding-top:10%;
	}
	.post-item{
		width: calc(50% - 30px);
		background:#fff;
		float:left;
		margin-left:15px;
		margin-right:15px;
		margin-top:30px;	
	}
	 
} 


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.container{
		padding-top:2%;
	}
}	


@import url('https://fonts.googleapis.com/css?family=Roboto');